.homeList {
  margin-top: 8px;
  text-align: center;
}

.checkError {
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nothingDelete {
  color:darkorange;
  text-align: center;
}


.title{
  text-align: center;
  font-size: 25px;
}

.confirmMes {
  font-family: 'Times New Roman', Times, serif;
}
